* {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 1200px;
  margin: 30px auto;
  background-color: #c5b3b3;
}
#header {
  width: 100%;
  background-color: #e8d3d3;
}
#header > .header-image {
  width: 800px;
  height: 400px;
  margin: 0px auto;
  background-color: #b9aeae;
}
#header > .header-answer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
#header > .header-answer div {
  margin: 0 100px;
  border: 1px solid bisque;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 1em;
}
#main {
  width: 100%;
  height: 200px;
  background-color: #969292;
}
#main > .main-container {
  width: 800px;
  height: 200px;
  margin: 0 auto;
}
#main > .main-container > .input-area {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
#main > .main-container > .input-area > input {
  text-align: center;
  font-size: 2em;
}
#main > .main-container > .button-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
#main > .main-container > .button-area button {
  border: 1px solid bisque;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 1em;
}
#main > .main-container > .button-area button:hover {
  background-color: #e4f3d0;
}

#footer {
  width: 100%;
  height: 100px;
  background-color: #aba8a8;
}
